
      <!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>

        </h1>
      </section>


      <section class="content">

        <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-home"></i>

                  <h3 class="box-title">Bread &amp; Brakery</h3><span class="pull-right"><i class="fa fa-star"></i> 4.5</span>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="col-sm-3 col-xs-12">
                    <img class="box-img-detail" src="assets/img/foods/doors.jpg" />
                  </div>

                  <dl class="col-sm-9 col-xs-12">
                    <dt>Gênero</dt>
                    <dd>Rock n Roll</dd>
                    <dt>Sobre</dt>
                    <dd>L.A. Woman é o sexto álbum de estúdio da banda norte-americana The Doors, lançado a 19 de Abril de 1971, pela Elektra Records.</dd>
                    
                  </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer detail-footer">
                <a class="pull-left detail-active" href="detail-restaurant.html">
                   Menu
                </a>
                <a class="pull-right" href="detail-restaurant-reviews.html">
                   Avaliações
                </a>
              </div>
              </div>
            </div>

        </div>


      <div class="row">
            <mt-menu> </mt-menu>
          <!-- FIM DO MENU -->
      </div>

      </section>
      <!-- FIM DO CONTEÚDO -->
