<!--INÍCIO DO MENU -->
<div class="col-md-9 col-xs-12">

    <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/foods/doors.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">The Doors - Riders on the Storm</span>
          <span class="menu-item-info-box-detail">Uma excelente música para se ouvir em um dia chuvoso...</span>
          <span class="menu-item-info-box-price">R$ 1,00</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
    <!-- /.info-box -->

    <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/foods/doors.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">The doors - The Changeling</span>
          <span class="menu-item-info-box-detail">A música perfeita para começar a acreditar em dias melhores.</span>
          <span class="menu-item-info-box-price">R$ 1,00</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
    <!-- /.info-box -->

    <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/foods/doors.jpg"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">The doors - Love Her Madly</span>
          <span class="menu-item-info-box-detail">Com toda certeza não existe musica melhor para seus rituais secretos</span>
          <span class="menu-item-info-box-price">R$ 666,00</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
    <!-- /.info-box -->

</div>
<div class="col-md-3 col-xs-12">
  <mt-shopping-cart></mt-shopping-cart>
</div>
<!-- FIM DO MENU -->
